@media screen and (max-width: 320px) {
    .table-container {
        width: 90%;
        padding: 10px; 
        margin-bottom: 10px;
        margin-top: 20px;

        table {
            font-size: map-get($fuentes, XS);

            thead {

                th {
                    padding: 10px 15px;
                }
            }

            td {
                padding: 5px;
            }

        }
    }

    /* Estilos para formularios */
    .section-principal {
        height: 30px;
        font-size: map-get($fuentes, XXS);
    }

    .section-dos {
        h2 {
            font-size: map-get($fuentes, XS);
            margin-top: 5px;
        }

        .galeria {
            margin: 8px;

            img {
                height: 125px;
            }

            .character-title {
                font-size: map-get($fuentes, XXS);
            }
        }
    }

    .section-monstruos {
        h2 {
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: map-get($fuentes, XXS);
        }
    }

    form {
        width: 90%;
        margin: 15px;
        padding: 50px;
    }
}