$color: (
    color1: rgba(13, 12, 12, 1),
    color2: black,
    color3: rgb(155, 34, 34),
    color4: rgb(112, 36, 36),
    color5: rgb(168, 31, 31),
    color6: hsl(0, 57%, 40%),
    color7: beige,
    color8: rgba(88, 44, 44, 0.301)
);


$fuentes: (
    XXS:12px,
    XS:14px,
    S:16px,
    M:20px,
    L:24px,
    XL:28px)